.headers {
    text-align: center;
    color: white;
}

.custom-accordion {
    border: none;
    outline: none;
}

.custom-accordion-body {
    background: #815AE0 !important;
    color: white !important;
    border: none;
    outline: none;
}