.navbar {
    background-color: none;
    height: 5rem;
}

.navText {
    color: white !important;
    font-family: 'Sen', sans-serif !important;
    font-size: 1.5rem !important;
    transition: all .1s ease-in-out !important; 
}

.navText:hover {
    transform: scale(1.1);
}