
.navbar {
    background-color: none;
    height: 5rem;
    /* background-color:rgba(138, 44, 226, 0.1); */
    margin: 0;
}

.test{
    background-color:rgb(176,28,76);
    height: 5rem;
    /* background-color:rgba(138, 44, 226, 0.1); */
    margin: 0;
}

.navText {
    color: white !important;
    font-family: 'Sen', sans-serif !important;
    font-size: 1.5rem !important;
    transition: all .1s ease-in-out !important; 
}

.navText:hover {
    transform: scale(1.1);
}

.logoNav {
    max-width: 100%;
}