.testimonial-container{
    position: "relative";
    background-color: #815AE0;
    height: "100vh";
    width: "100%";
    display: "flex";
    flex: 1;
    justify-content: "center";
    align-items: "left";
}

.testimonials{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    overflow-x: hidden;
    margin: 0 auto;
    font-family: "Avenir Next Condensed";
    position: relative;
    border: 1px solid #815AE0;
}


.testimonials p{
    font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.testimonials p:before{
    content:"“";
    color:#aaa;
    font-size: 26px;
    font-family: monospace;
    font-weight: 100;
}

.testimonials p:after{
    content: "”";
    color:#aaa;
    font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;

}

.testimonials-card{
    height: "200px";
    width: "400px";
    text-align: "center";
    background: "#52C0F5";
    color: "#FFF";
    text-transform: "uppercase";
    border-radius: 50%;
    box-sizing: "border-box"
}
.testimonials-card-image{
    border-radius: 50%;
    width:30%;
}