.aboutHeader {
    text-align: center;
    font-family: "Avenir Next Condensed";
    color: white;
    font-size: 3.5rem;
}

.imgLeft {
    max-height: 16rem;
}

.imgRight {
    max-height: 16rem;
}

.captionHeader {
    font-family: 'Sen', sans-serif;
    color: white;
    font-size: 1.7rem;
}

.captionText {
    font-family: 'Sen', sans-serif;
    color: white;
    font-size: 1.05rem;
}

.aboutText {
    font-family: 'Sen', sans-serif;
    color: white;
    font-size: 1.4em;
}