h1 {
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 40px;
}

.imgLeft {
    max-height: 25rem;
}

.imgRight {
    max-height: 25rem;
}

.textLeft {
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 40px;
}

.textRight {
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 40px;
}

