.platinumGear {
    max-height: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 100%;
}


.goldGear {
    max-height: 12rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 16rem;
}

.silverGear {
    max-height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bronzeGear {
    max-height: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sponsorsHeader {
    text-align: center;
}

@keyframes rotation-gears {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rotate-gears {
    filter: drop-shadow(0 0 0.5rem #000000);
    animation: rotation-gears 15s infinite linear;
}
