.main {
    background-image:url('../../../assets/images/HomePage/background.png');
    background-size:cover;
    background-position:center;
}

.main h1 {
    color: #00ff8c;
    font-family: 'Sen', sans-serif;
}

.main h3 {
    font-family: 'Sen', sans-serif;
}

.landing {
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.gear {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 26rem;
    left: 16rem
}

.head {
    max-width: 100%;
    margin-top: 0;
    max-height: 26rem;
    left: .24rem;
    top: 1rem;
    width: 60rem;
    height: 600px;
}

.register {
    background-color: #815AE0 !important;
    border: none !important;
    font-family: 'Sen', sans-serif !important;
    transition: .3s;
}

.register:hover {
    background-color: #191133 !important;
}

@keyframes rotation-gears {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rotate-gears {
    filter: drop-shadow(0 0 0.5rem #000000);
    animation: rotation-gears 15s infinite linear;
}

@media (max-width: 576px) {
    .gear {
        /* left: 6rem; */
        /* max-width: 100%; */
        margin-top: 0;
        max-height: 20rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .head {
        max-width: 100%;
        margin-top: 0;
        max-height: 20rem;
        left: .24rem;
    }
}

.main h2 {
    color: #ffffff;
    font-family: 'Sen', sans-serif;
}

.logo {
    max-width: 30%;
}