.footer {
    align-items: center;
    text-align: center;
}

.footerHeaders {
    font-family: 'Sen', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0;
}

.instagram {
    max-height: 3rem;
    transition: all .2s ease-in-out; 
}

.instagram:hover {
    transform: scale(1.1);
}