.main {
    background-image:url('../../assets/images/HomePage/background.png');
    background-size:cover;
    background-position:center;
}

.main h1 {
    color: #815AE0;
    font-family: 'Sen', sans-serif;
}

.main h3 {
    font-family: 'Sen', sans-serif;
}

.landing {
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.gear {
    margin-top: 0;
    max-height: 26rem;
}

.head {
    margin-top: 0;
    max-height: 26rem;
    left: .24rem;
}

.register {
    background-color: #13D2CC !important;
    border: none !important;
    font-family: 'Sen', sans-serif !important;
    transition: .3s;
}

.register:hover {
    background-color: #815AE0 !important;
}

@keyframes rotation-gears {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rotate-gears {
    filter: drop-shadow(0 0 0.5rem #000000);
    animation: rotation-gears 15s infinite linear;
}