.aboutComponent {
    background-color: rgb(255, 0, 0);
}

.aboutHeader {
    text-align: center;
    font-family: "Avenir Next Condensed";
    color: black  !important;
    font-size: 3.5rem;
}

.captionHeader {
    font-family: 'Sen', sans-serif;
    color: #815AE0;
    font-size: 1.7rem;
}

.captionText {
    font-family: 'Sen', sans-serif;
    color: black;
    font-size: 1.05rem;
}

.aboutText {
    font-family: 'Sen', sans-serif;
    color: black;
    font-size: 1.4em;
}